<html>
    <head>
        <title>아이캠퍼스 설정</title>
        <%- include("parts/common_header.ejs") %>
        <script type="text/javascript" src="js/account_icampus.js"></script>
    </head>
    <body>
        <div id="body_content">
            <div id="main_area">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/40/Sungkyunkwan_University_seal.svg/1200px-Sungkyunkwan_University_seal.svg.png" height="80px" style="margin-right: 10px;">
                <span class="main-title">아이캠퍼스 설정</span>
                <hr>
                <div class="form-wrapper">
                    <span class="form-title">아이캠퍼스 로그인</span>
                    <div class="form-in-row">
                        <span class="form-item-name">아이디</span>
                        <input class="form-input" id="icampus_id_input" spellcheck="false">
                    </div>
                    <div class="form-in-row">
                        <span class="form-item-name" >비밀번호</span>
                        <input class="form-input" type="password" id="icampus_pw_input" spellcheck="false">
                    </div>
                    <div class="form-in-row">
                        <input type="button" class="next-level-button" value="Next" id="verify_account_btn">
                    </div>
                </div>
                <div class="loading-bar" id="icampus_authen_bar">
                    <div class="bouncing-bar"></div>
                </div>
                <div class="form-wrapper blurred unfocusable" id="load_icampus_courses_wrapper">
                    <span class="form-title" id="found_course_num">과목 -개 찾음</span>
                    <div class="form-in-row" id="found_course_list_wrapper">
                    </div>
                    <div class="form-in-row">
                        <input type="button" class="next-level-button" value="Finish" id="finish_icampus_setting">
                    </div>
                </div>
                <div class="loading-bar" id="wait_save_info_bar">
                    <div class="bouncing-bar"></div>
                </div>
            </div>
        </div>
        <%- include("parts/common_left_sidemenu.ejs") %>
    </body>
</html>