<html>
    <head>
        <title>계정 설정</title>
        <%- include("parts/common_header.ejs") %>
        <script type="text/javascript" src="js/account.js"></script>
    </head>
    <body>
        <div id="body_content">
            <div id="main_area">
                <span class="main-title">계정 설정</span>
                <hr>
                <div class="form-wrapper">
                    <span class="form-title">Everytime 계정 입력</span>
                    <div class="form-in-row">
                        <span class="form-item-name">아이디</span>
                        <input class="form-input" id="everytime_id_input" spellcheck="false">
                    </div>
                    <div class="form-in-row">
                        <span class="form-item-name" >비밀번호</span>
                        <input class="form-input" type="password" id="everytime_pw_input">
                    </div>
                    <div class="form-in-row">
                        <input type="button" class="next-level-button" value="Next" id="verify_account_btn" spellcheck="false">
                    </div>
                </div>
                <div class="loading-bar" id="load_timetable_list_bar">
                    <div class="bouncing-bar"></div>
                </div>
                <div class="form-wrapper blurred unfocusable" id="timetable_decision_wrapper">
                    <span class="form-title">에브리타임 시간표 결정</span>
                    <div class="form-in-row">
                        <span class="form-item-name">시간표 선택</span>
                        <select id="timetable_candidate_selector">
                        </select>
                    </div>
                    <div class="form-in-row">
                        <span class="form-item-name">ID</span>
                        <span id="selected_subject_id">-</span>
                    </div>
                    <div class="form-in-row">
                        <span class="form-item-name">최근 업데이트 날짜</span>
                        <span id="selected_subject_recent_update_date">-</span>
                    </div>
                    <div class="form-in-row">
                        <span class="form-item-name">생성 날짜</span>
                        <span id="selected_subject_generated_date">-</span>
                    </div>
                    <div class="form-in-row">
                        <input type="button" class="next-level-button" value="Next" id="">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>