<html>
    <head>
        <title>성균관대학교 아이캠퍼스(미러)</title>
        <%- include("parts/common_header") %>
    </head>
    <body>
        <div id="body_content">
            <div id="main_area">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/40/Sungkyunkwan_University_seal.svg/1200px-Sungkyunkwan_University_seal.svg.png" height="80px" style="margin-right: 10px;">
                <span class="main-title">신 아이캠퍼스(Mirror)</span>
                <hr>
                <div class="form-wrapper">
                    <span class="form-title">-님 환영합니다!</span>
                    <div class="form-in-row">
                        <span class="form-item-name block-span">-개 과목</span>
                    </div>
                </div>
                <div class="form-wrapper">
                    <div class="menu-selector-wrapper">
                        <span class="selected">Courses</span>
                        <span>Assignments</span>
                        <span>Announcements</span>
                    </div>
                    <hr>
                    <span class="form-title">수업 15개 남음</span>
                    <div class="form-in-row">
                        <span class="form-item-name block-span">Contact to dev. Shyunku</span>
                        <span class="form-item-name block-span">whdudgns7321@gmalil.com</span>
                    </div>
                </div>
            </div>
        </div>
        <%- include("parts/common_left_sidemenu.ejs") %>
    </body>
</html>