<!DOCTYPE html>
<html>
    <head>
        <title>출첵 현황</title>
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Teko:300&display=swap&subset=korean" rel="stylesheet">
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <script type="text/javascript" src="js/animate.js"></script>
    </head>
    <body>
        <div id="body_content">
            <div id="main_banner">
                <div class="main-subject-info-wrapper">
                    <span class="main-subject-name" id="main_subject_name">-</span>
                    <span class="main-subject-professor" id="main_subject_professor">-</span>
                    <span class="main-subject-room narrow-font" id="main_subject_room_number">-</span>
                </div>
                <div class="main-subject-absence-summary-wrapper">
                    <span>현재까지 </span>
                    <span class="absence-num">-</span>
                    <span>번 결석했습니다.</span>
                    <span>(-/-)</span>
                </div>
                <div id="absence_canvas_wrapper">
                    <canvas id="absence_status_canvas"></canvas>
                </div>
                <div class="subject-summary-item">
                    <div class="subject-item-summary">
                        <table class="attendance-table" width="420">
                            <tr class="week-info">
                                <th colspan="2">1주차</th>
                                <th colspan="2">2주차</th>
                                <th colspan="2">3주차</th>
                                <th colspan="2">4주차</th>
                                <th colspan="2">5주차</th>
                                <th colspan="2">6주차</th>
                                <th colspan="2">7주차</th>
                                <th colspan="2">8주차</th>
                                <th colspan="2">9주차</th>
                                <th colspan="2">10주차</th>
                                <th colspan="2">11주차</th>
                                <th colspan="2">12주차</th>
                                <th colspan="2">13주차</th>
                                <th colspan="2">14주차</th>
                                <th colspan="2">15주차</th>
                                <th colspan="2">16주차</th>
                            </tr>
                            <tr class="date-info">
                                <th>3/2</th>
                                <th>3/4</th>
                                <th>3/9</th>
                                <th>3/11</th>
                                <th>3/16</th>
                                <th>3/18</th>
                                <th>3/23</th>
                                <th>3/25</th>
                                <th>3/30</th>
                                <th>4/1</th>
                                <th>4/6</th>
                                <th>4/8</th>
                                <th>4/13</th>
                                <th>4/15</th>
                                <th>4/20</th>
                                <th>4/22</th>
                                <th>4/27</th>
                                <th>4/29</th>
                                <th>5/4</th>
                                <th>5/6</th>
                                <th>5/11</th>
                                <th>5/13</th>
                                <th>5/18</th>
                                <th>5/20</th>
                                <th>5/25</th>
                                <th>5/27</th>
                                <th>6/1</th>
                                <th>6/3</th>
                                <th>6/8</th>
                                <th>6/10</th>
                                <th>6/15</th>
                                <th>6/17</th>
                            </tr>
                            <tr class="attendance-info">
                                <td class="attended called">출석</td>
                                <td class="attended not-called">출석</td>
                                <td class="absent called">결석</td>
                                <td class="attended called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="attended not-called">출석</td>
                                <td class="attended not-called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="absent not-called">결석</td>
                                <td class="absent unknown-called">결석</td>
                                <td class="attended not-called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="absent unknown-called">결석</td>
                                <td class="midterm-test unknown-called">중간</td>
                                <td class="absent unknown-called">결석</td>
                                <td class="unknown called">모름</td>
                                <td class="attended called">출석</td>
                                <td class="attended not-called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="attended not-called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="attended called">출석</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div id="subject_summary_list_wrapper">

            </div>
        </div>
        
        <div id="side_menu" class="active">
            <div>23:52:23</div>
        </div>
        <button id="side_menu_opener">menu</button>
        <script>
            const weekCount = 16;
            let tableDataString = "<%= tableData %>";
            let cleanTableData = replaceAll(tableDataString, '&#34;', '\"');
            let tableJson = JSON.parse(cleanTableData);
            const constTableInfo = [];
            let tableInfo = [];
            let dateTable = [];

            for(let i=0;i<tableJson.length;i++){
                constTableInfo.push(tableJson[i]);
            }

            $(function(){
                tableInfo = [...constTableInfo];
                initDivs(tableInfo.length-1);
                setInterval(function(){
                    evaluateTables(tableInfo);
                },1000);
            });

            function getDateTableInfo(){
                const current = new Date();
                let firstDate = 0;
            }
            

            function replaceAll(str, searchStr, replaceStr) {
                return str.split(searchStr).join(replaceStr);
            }

            function evaluateTables(tableInfo){
                let current = new Date();
                const debugTimeOffset = 0*86400 + 0*3600 + 0 * 60 + 0;
                let currentTimeOffset = (current.getDay()-1)*86400 + current.getHours()*3600 + current.getMinutes()*60 + current.getSeconds() +debugTimeOffset;


                let debugTime = new Date();
                debugTime.setTime(current.getTime() + debugTimeOffset * 1000 + 9*3600000);
                let timeText = getTimeFormat();
                $('#side_menu > div').text(debugTime.toUTCString());

                const resortedTable = [];
                let upperIndex = tableInfo.length;
                let determined = false;

                for(let i=0;i<tableInfo.length;i++){
                    let endTime = getTimeIntervalOffset(tableInfo[i]).end;
                    if(endTime > currentTimeOffset){
                        resortedTable.push(tableInfo[i]);
                        if(!determined){
                            determined = true;
                            upperIndex = i;
                        }
                    }
                }

                for(let i=0;i<upperIndex;i++){
                    let nextWeekClass = $.extend(true, {}, tableInfo[i]);
                    nextWeekClass.timeIntervals.day += 7;
                    resortedTable.push(nextWeekClass);
                }

                //resort complete
                let focusedSubject = resortedTable[0];


                //main subject setting
                $('#main_subject_name').text(focusedSubject.name);
                $('#main_subject_professor').text(focusedSubject.professorName + " 교수님");
                $('#main_subject_room_number').text(focusedSubject.timeIntervals.place);
                //수업 남은시간도 별개로 표시
                let diff = getTimeIntervalOffset(focusedSubject).start - currentTimeOffset;
                if(diff >= 0){
                    $('#main_class_remain_time').text("다음 수업까지 "+getTimeFormatString(diff)+" 남음");
                }else{
                    diff = getTimeIntervalOffset(focusedSubject).end - currentTimeOffset;
                    $('#main_class_remain_time').text("현재 수업시간 "+getTimeFormatString(diff)+" 남음");
                }

                //sub subjects setting
                for(let i=1;i<resortedTable.length;i++){
                    let index = i-1;
                    let currentSubject = resortedTable[i];

                    $('#subject_item_name_'+index).text(currentSubject.name);
                    $('#subject_item_room_'+index).text(currentSubject.professorName+" 교수님 - "+currentSubject.timeIntervals.place+"호");
                    diff = getTimeIntervalOffset(currentSubject).start - currentTimeOffset;
                    $('#next_class_remain_time_'+index).text("다음 수업까지 "+getTimeFormatString(diff)+" 남음");

                    let dateListDivChildren = $('#date_list_'+index+" th");
                    let weekListDivChildren = $('#week_list_'+index+" th");
                    let attendanceListDivChildren = $('#attendance_list_'+index+" td");
                    let dateNum = getDateCountSubject(currentSubject.name);
                    let currentLen = dateListDivChildren.length;

                    if(dateNum*weekCount != currentLen){
                        dateListDivChildren.remove();
                        attendanceListDivChildren.remove();
                        for(let j=0;j<dateNum*weekCount;j++){
                            $('#date_list_'+index).append(`<th></th>`);
                            $('#attendance_list_'+index).append('<td></td>')
                        }
                        weekListDivChildren.each(function(ind, child){
                            $(child).attr('colspan', dateNum);
                        });
                    }
                }
            }

            function getDateCountSubject(subjectName){
                let count = 0;
                for(let i=0;i<tableInfo.length;i++){
                    if(tableInfo[i].name == subjectName)count++;
                }
                return count;
            }

            function getTimeIntervalOffset(obj){
                return {
                        start: obj.timeIntervals.day * 86400 + obj.timeIntervals.start * 5 * 60,
                        end: obj.timeIntervals.day * 86400 + obj.timeIntervals.end * 5 * 60,
                    };
            }

            function initDivs(subSubjectNum){
                for(let i=0;i<subSubjectNum;i++){
                    $('#subject_summary_list_wrapper').append(`
                    <div class="subject-summary-item">
                        <div class="subject-item-info">
                            <span class="subject-item-name" id="subject_item_name_${i}">-</span>
                            <span class="subject-item-timeleft">-/-</span>
                            <span class="next-class-timestamp">결석 -회</span>
                        </div>
                        <div class="subject-item-summary">
                            <div class="subject-info-summary">
                                <span class="subject-item-room" id="subject_item_room_${i}">- 교수님 - -호</span>
                                <span class="next-class-remain-time" id="next_class_remain_time_${i}">다음 수업까지 -시간 -분 -초 남음</span>
                            </div>
                            <table class="attendance-table" width="420">
                                <tr class="week-info" id="week_list_${i}">
                                    <th colspan="2">1주차</th>
                                    <th colspan="2">2주차</th>
                                    <th colspan="2">3주차</th>
                                    <th colspan="2">4주차</th>
                                    <th colspan="2">5주차</th>
                                    <th colspan="2">6주차</th>
                                    <th colspan="2">7주차</th>
                                    <th colspan="2">8주차</th>
                                    <th colspan="2">9주차</th>
                                    <th colspan="2">10주차</th>
                                    <th colspan="2">11주차</th>
                                    <th colspan="2">12주차</th>
                                    <th colspan="2">13주차</th>
                                    <th colspan="2">14주차</th>
                                    <th colspan="2">15주차</th>
                                    <th colspan="2">16주차</th>
                                </tr>
                                <tr class="date-info" id="date_list_${i}">
                                </tr>
                                <tr class="attendance-info" id="attendance_list_${i}">
                                </tr>
                            </table>
                        </div>
                    </div>`
                    );
                }
            }

            function getTimeFormat(diff){
                if(diff<0) diff = -diff;
                let days = parseInt(diff/(3600*24))
                let hours = parseInt((diff%(3600*24))/3600);
                let mins = parseInt((diff%3600)/60);
                let secs = parseInt(diff%60);
                return {
                    d: days,
                    h: hours,
                    m: mins,
                    s: secs,
                }
            }

            function getTimeFormatString(diff){
                let format = getTimeFormat(diff);
                let dayStr = format.d + "일 ";
                let hourStr = format.h + "시간 ";
                let minStr = format.m + "분 ";
                let secStr = format.s + "초";

                let finalStr = "";
                let connect = false;
                if(format.d > 0){
                    finalStr += dayStr;
                    connect = true;
                }
                if(format.h > 0 || connect){
                    finalStr += hourStr;
                    connect = true;
                }
                if(format.m > 0 || connect){
                    finalStr += minStr;
                    connect = true;
                }
                finalStr += secStr;

                return finalStr;
            }
        </script>
    </body>
</html>