<!DOCTYPE html>
<html>
    <head>
        <title>출첵 현황</title>
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Teko:300&display=swap&subset=korean" rel="stylesheet">
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <script type="text/javascript" src="js/animate.js"></script>
        <script type="text/javascript" src="js/crawling.js"></script>
    </head>
    <body>
        <div id="body_content">
            <div id="main_banner">
                <div class="main-subject-info-wrapper">
                    <span class="main-subject-name">오픈소스소프트웨어실습</span>
                    <span class="main-subject-professor">서의성 교수님</span>
                    <span class="main-subject-room narrow-font">23219</span>
                </div>
                <div class="main-subject-absence-summary-wrapper">
                    <span>현재까지 </span>
                    <span class="absence-num">5</span>
                    <span>번 결석했습니다.</span>
                    <span>(13/18)</span>
                </div>
                <div id="absence_canvas_wrapper">
                    <canvas id="absence_status_canvas"></canvas>
                </div>
            </div>
            <div id="subject_summary_list_wrapper">
                <div class="subject-summary-item">
                    <div class="subject-item-info">
                        <span class="subject-item-name">프로그래밍언어</span>
                        <span class="subject-item-timeleft">25/30</span>
                        <span class="next-class-timestamp">결석 5회</span>
                    </div>
                    <div class="subject-item-summary">
                        <div class="subject-info-summary">
                            <span class="subject-item-room">김유성 교수님 - 400118호</span>
                            <span class="next-class-remain-time">다음 수업까지 2시간 42분 45초 남음</span>
                        </div>
                        <table class="attendance-table" width="420">
                            <tr class="week-info">
                                <th colspan="2">1주차</th>
                                <th colspan="2">2주차</th>
                                <th colspan="2">3주차</th>
                                <th colspan="2">4주차</th>
                                <th colspan="2">5주차</th>
                                <th colspan="2">6주차</th>
                                <th colspan="2">7주차</th>
                                <th colspan="2">8주차</th>
                                <th colspan="2">9주차</th>
                                <th colspan="2">10주차</th>
                                <th colspan="2">11주차</th>
                                <th colspan="2">12주차</th>
                                <th colspan="2">13주차</th>
                                <th colspan="2">14주차</th>
                                <th colspan="2">15주차</th>
                                <th colspan="2">16주차</th>
                            </tr>
                            <tr class="date-info">
                                <th>3/2</th>
                                <th>3/4</th>
                                <th>3/9</th>
                                <th>3/11</th>
                                <th>3/16</th>
                                <th>3/18</th>
                                <th>3/23</th>
                                <th>3/25</th>
                                <th>3/30</th>
                                <th>4/1</th>
                                <th>4/6</th>
                                <th>4/8</th>
                                <th>4/13</th>
                                <th>4/15</th>
                                <th>4/20</th>
                                <th>4/22</th>
                                <th>4/27</th>
                                <th>4/29</th>
                                <th>5/4</th>
                                <th>5/6</th>
                                <th>5/11</th>
                                <th>5/13</th>
                                <th>5/18</th>
                                <th>5/20</th>
                                <th>5/25</th>
                                <th>5/27</th>
                                <th>6/1</th>
                                <th>6/3</th>
                                <th>6/8</th>
                                <th>6/10</th>
                                <th>6/15</th>
                                <th>6/17</th>
                            </tr>
                            <tr class="attendance-info">
                                <td class="attended called">출석</td>
                                <td class="attended not-called">출석</td>
                                <td class="absent called">결석</td>
                                <td class="attended called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="attended not-called">출석</td>
                                <td class="attended not-called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="absent not-called">결석</td>
                                <td class="absent unknown-called">결석</td>
                                <td class="attended not-called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="absent unknown-called">결석</td>
                                <td class="midterm-test unknown-called">중간</td>
                                <td class="absent unknown-called">결석</td>
                                <td class="unknown called">모름</td>
                                <td class="attended called">출석</td>
                                <td class="attended not-called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="attended not-called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="attended called">출석</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="subject-summary-item">
                    <div class="subject-item-info">
                        <span class="subject-item-name">시스템프로그래밍</span>
                        <span class="subject-item-professor">한환수</span>
                        <span class="subject-item-room narrow-font">21317</span>
                    </div>
                    <div class="subject-item-summary">
                        <table class="attendance-table" width="420">
                            <tr class="week-info">
                                <th colspan="2">1주차</th>
                                <th colspan="2">2주차</th>
                                <th colspan="2">3주차</th>
                                <th colspan="2">4주차</th>
                                <th colspan="2">5주차</th>
                                <th colspan="2">6주차</th>
                                <th colspan="2">7주차</th>
                                <th colspan="2">8주차</th>
                                <th colspan="2">9주차</th>
                                <th colspan="2">10주차</th>
                                <th colspan="2">11주차</th>
                                <th colspan="2">12주차</th>
                                <th colspan="2">13주차</th>
                                <th colspan="2">14주차</th>
                                <th colspan="2">15주차</th>
                                <th colspan="2">16주차</th>
                            </tr>
                            <tr class="date-info">
                                <th>3/2</th>
                                <th>3/4</th>
                                <th>3/9</th>
                                <th>3/11</th>
                                <th>3/16</th>
                                <th>3/18</th>
                                <th>3/23</th>
                                <th>3/25</th>
                                <th>3/30</th>
                                <th>4/1</th>
                                <th>4/6</th>
                                <th>4/8</th>
                                <th>4/13</th>
                                <th>4/15</th>
                                <th>4/20</th>
                                <th>4/22</th>
                                <th>4/27</th>
                                <th>4/29</th>
                                <th>5/4</th>
                                <th>5/6</th>
                                <th>5/11</th>
                                <th>5/13</th>
                                <th>5/18</th>
                                <th>5/20</th>
                                <th>5/25</th>
                                <th>5/27</th>
                                <th>6/1</th>
                                <th>6/3</th>
                                <th>6/8</th>
                                <th>6/10</th>
                                <th>6/15</th>
                                <th>6/17</th>
                            </tr>
                            <tr class="attendance-info">
                                <td class="attended called">출석</td>
                                <td class="attended not-called">출석</td>
                                <td class="absent called">결석</td>
                                <td class="attended called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="attended not-called">출석</td>
                                <td class="attended not-called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="absent not-called">결석</td>
                                <td class="absent unknown-called">결석</td>
                                <td class="attended not-called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="absent unknown-called">결석</td>
                                <td class="midterm-test unknown-called">중간</td>
                                <td class="absent unknown-called">결석</td>
                                <td class="unknown called">모름</td>
                                <td class="attended called">출석</td>
                                <td class="attended not-called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="attended not-called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="attended called">출석</td>
                                <td class="finalterm-test unknown-called">기말</td>
                                <td class="absent unknown-called">결석</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="side_menu" class="active">
        </div>
        <button id="side_menu_opener">menu</div>
    </body>
</html>