<html>
    <head>
        <title>Page Not Found</title>
        <%- include("parts/common_header.ejs") %>
    </head>
    <body>
        <div id="body_content">
            <div id="main_area">
                <span class="main-title">404 Error</span>
                <hr>
                <div class="form-wrapper">
                    <span class="form-title">Page Not Found :(</span>
                    <div class="form-in-row">
                        <span class="form-item-name block-span">Contact to dev. Shyunku</span>
                        <span class="form-item-name block-span">whdudgns7321@gmail.com</span>
                    </div>
                </div>
            </div>
        </div>
        <%- include("parts/common_left_sidemenu.ejs") %>
    </body>
</html>