.main-title{
    display: inline-block;
    font-size: 90px;
    line-height: 90px;
    vertical-align: top;
}

.form-wrapper{
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    background-color: rgb(70, 70, 70);
    box-sizing: border-box;
    margin-top: 10px;
}

.sub-title-right{
    float: right;
    vertical-align: bottom;
    font-size: 90px;
    color: rgb(121, 121, 121);
}

.main-subform-wrapper{
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}

.main-form-wrapper{
    display: inline-block;
    width: 100%;
}

.form-title{
    position: relative;
    display: block;
    font-size: 45px;
    padding: 10px 0;
}

.form-item-name{
    display: inline-block;
    font-size: 25px;
    min-width: 200px;
    padding: 5px 0;
}


.form-in-row{
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}

.form-input{
    display: inline-block;
    width: 65%;
    padding: 3px 5px;
    vertical-align: top;
    background-color: rgb(0,0,0,0);
    border: none;
    border-bottom: 2px solid rgb(207, 207, 207);
    color: white;
    font-size: 18px;
    font-family: inherit;
}

.form-input:focus{
    outline: none;
}

.next-level-button{
    border: none;
    float: right;
    background-color: rgb(201, 201, 201);
    padding: 5px 12px;
    font-size: 18px;
    font-family: inherit;
}

input:focus{
    outline: none;
}

input[type=button]:hover{
    background-color: rgb(122, 152, 218);
}

input[type=button]:active{
    background-color: rgb(70, 107, 187);
}

input[type=button]:disabled{
    background-color: rgb(136, 136, 136);
}

input[type=number]{
    background-color: transparent;
    color: white;
    border: none;
    font-family: inherit;
    font-size: 18px;
    border-bottom: 2px solid rgb(207, 207, 207);
    vertical-align: top;
}

.loading-bar{
    display: block;
    height: 3px;

    background-color: transparent;
    overflow: hidden;
}

.loading-bar.active{
    background-color: rgb(0, 89, 255);
}

.bouncing-bar{
    display: inline-block;
    position: relative;
    left: 0;
    top: 0;
    width: 40%;
    height: 100%;
}

.loading-bar.active .bouncing-bar{
    background-image: linear-gradient(to right, transparent, white, transparent);
}

.blurred{
    filter: blur(5px);
}

.unfocusable{
    pointer-events: none;
}

select{
    padding: 5px 10px;
    font-family: inherit;
    font-size: 18px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid white;
    color: white;
    vertical-align: top;
}

select:focus{
    outline: none;
}

option{
    background-color: transparent;
    color: black;
}

.grid-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    gap: 5px;
}

.grid-wrapper > div{
    background-color: rgb(110, 110, 110);
    padding: 10px;
    border-radius: 10px;
    text-align: left;
}

.grid-title{
    font-size: 30px;
}