:root{
    --attendance-text-shadow-size: 8px;
}

body{
    text-align: center;
    background-color: #222;
    color: white;
    font-family: 'Do Hyeon', sans-serif;
}

#body_content{
    display: inline-block;
    width: 1300px;
    margin-top: 30px;
}

#left_side_menu{
    position: fixed;
    width: 250px;
    height: 100%;
    top: 0;
    left: -230px;
    padding: 10px;
    background: linear-gradient(to right, #000000, transparent 80%, transparent);
    font-family: 'Nanum Gothic', sans-serif;
    text-align: left;
}

.narrow-font{
    font-family: 'Teko', sans-serif;
}

.content-font{
    font-family: 'Noto Sans', sans-serif;
}

#main_banner{
    text-align: left;
    padding: 20px 30px;
    background-color: rgb(58, 58, 58);
}

.main-subject-info-wrapper{
    position: relative;
    text-align: left;
    
    /* background-color: red; */
    vertical-align: top;
}

.main-subject-name{
    font-size: 90px;
    text-shadow: 0 0 10px rgba(51, 255, 0, 0.452);
}

.main-subject-professor{
    margin-left: 10px;
    font-size: 30px;
}

.main-subject-room{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 100px;
    color: rgb(121, 121, 121);
}

.main-subject-absence-summary-wrapper{
    display: inline-block;
    width: 100%;
    padding: 5px 0;
}

.main-subject-absence-summary-wrapper span{
    text-align: left;
    font-size: 30px;
}

.main-subject-absence-summary-wrapper .absence-num{
    color: rgb(255, 118, 118);
}

#absence_canvas_wrapper{
    margin-top: 15px;
    width: 100%;
    height: 100px;
}

#absence_status_canvas{
    width: 100%;
    height: 100%;
    /* background-color: black; */
}

#side_menu_opener{
    position: fixed;
    top: 30px;
    right: 30px;
}

#subject_summary_list_wrapper{
    margin-top: 20px;
    padding: 5px 10px;
    background-color: rgb(58, 58, 58);
    text-align: left;
}

.subject-summary-item{
    position: relative;
    display: inline-block;
    margin: 5px 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    /* border: 1px solid white; */
    background-color: rgb(78, 78, 78);
    /* box-shadow: rgba(255, 255, 255, 0.253) 0 0 8px 8px inset; */
}

.subject-summary-item:hover{
    background-color: rgb(97, 97, 97);
    cursor: pointer;
}

.next-class-timestamp{
    font-size: 50px;
    float: right;
    color: rgb(255, 0, 0);
}

.subject-item-name{
    font-size: 50px;
}

.subject-item-professor{
    font-size: 18px;
}

.subject-item-timeleft{
    font-size: 30px;
    color: rgb(138, 138, 138);
}

.subject-item-room{
    display: inline-block;
    /* position: absolute;
    top: 10px;
    right: 10px; */
    font-size: 15px;
}

.next-class-remain-time{
    float: right;
}

#main_subject_absence_info{
    display: inline-block;
}

.subject-item-summary{
    display: inline-block;
    width: 100%;
    /* background-color: red; */
}

.attendance-table{
    table-layout: fixed;
    width: 100%;
    /* background-color: rgb(255, 118, 118); */
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    margin-top: 15px;
}

.attendance-table tr{
    border-bottom: 1px solid white;
    
}

.attendance-table th,td{
    padding: 10px 5px;
    border: 2px solid rgb(158, 158, 158);
}

.week-info{
    font-size: 23px;
}

.date-info{
    font-size: 15px;
}

.date-info th{
    /* min-width: 27px; */
    /* height: 15px; */
}

.attendance-info{
    font-size: 20px;
}

.attendance-info td{
    height: 40px;
}

.attended{
    text-shadow: 0 0 var(--attendance-text-shadow-size) rgb(0, 172, 0);
}

.absent{
    text-shadow: 0 0 var(--attendance-text-shadow-size) red;
}

.unknown{
    text-shadow: 0 0 var(--attendance-text-shadow-size) rgb(255, 94, 0);
}

.midterm-test{
    text-shadow: 0 0 var(--attendance-text-shadow-size) rgb(119, 0, 255);
}

.finalterm-test{
    text-shadow: 0 0 var(--attendance-text-shadow-size) rgb(119, 0, 255);
}

.called{
    box-shadow: inset 0 -12px 10px -10px red;
}

.not-called{
    box-shadow: inset 0 -12px 10px -10px rgb(0, 255, 0);
}

.unknown-called{
    box-shadow: inset 0 -12px 10px -10px rgb(255, 115, 0);
}

.subject-info-summary{
    display: inline-block;
    width: 100%;
}

#main_area{
    display: inline-block;
    width: 100%;
    min-height: 500px;
    background-color: rgb(58, 58, 58);
    padding: 20px 30px;
    text-align: left;
    box-sizing: border-box;
}

.course-date-picker{
    display: inline-block;
    padding: 2px 5px;
}

.course-date-picker-wrapper .split-slash{
    font-size: 25px;
}

.subject-info-item{
    padding: 5px;
    font-size: 22px;
    border-radius: 8px;
    margin-right: 5px;
}

.professor-name-color{
    border: 3px solid rgb(36, 222, 255);
}

.class-date-color{
    border: 3px solid rgb(0, 241, 12);
}

.remain-class-time-color{
    border: 3px solid rgb(255, 81, 0);
}

.room-number-color{
    border: 3px solid rgb(212, 0, 255);
}

#subject_name{
    text-shadow: 0 0 20px rgba(0, 255, 55, 0.288);
}

#current_date{
    font-size: 1.2em;
}

#current_time{
    font-size: 4.0em;
}

#current_sec{
    position: absolute;
    font-size: 1.3em;
    bottom: 0;
    color: rgb(136, 136, 136);
}

#current_time_split{
    position: absolute;
    top: 7px;
}

.time_info_segment{
    position: relative;
    display: inline-block;
    height: 100%;
    min-width: 25px;
    vertical-align: top;
}

.time_info_segment span{
    display: inline-block;
}

#current_time_wrapper{
    display: inline-block;
    width: 100%;
    height: 70px;
    padding: 5px 0;
    box-sizing: border-box;
}

#mainmenu_list{
    display: inline-block;
    width: 100%;
    /* border-top: 1px solid rgb(177, 177, 177); */
    padding: 20px 5px;
    margin-top: 10px;

    box-sizing: border-box;
}

.mainmenu-item{
    padding: 10px 5px;
}

.mainmenu-item a{
    font-size: 1.1em;
}

.mainmenu-item a:hover{
    font-size: 1.4em;
    text-shadow: 0 0 10px red;
    transition: ease-in-out 0.08s;
}

.undeveloped text{
    color: rgb(138, 0, 0);
}

#develop_info_wrapper{
    position: absolute;
    display: inline-block;
    width: 100%;

    padding: 5px;
    padding-bottom: 30px;

    left: 0;
    bottom: 0;

    box-sizing: border-box;
    font-size: 0.7em;
}

#develop_info_wrapper span{
    display: block;
    padding: 2px 0;
}

#subject_summary_grid{
    grid-row: 1;
    grid-column: 1;
}

#summary_chart_wrapper{
    width: 100px;
    height: 100px;
    /* border: 1px solid red; */
}