<div id="left_side_menu" class="active">
    <div id="current_date">-년 -월 -일</div>
    <div id="current_time_wrapper">
        <span id="current_time">12:45</span>
        <div class="time_info_segment">
            <span id="current_time_split">AM</span>
            <span id="current_sec">42</span>
        </div>
    </div>
    <div id="mainmenu_list">
        <div class="mainmenu-item">
            <span><a href="/">Home</a></span>
        </div>
        <div class="mainmenu-item">
            <span><a href="/account-everytime">Everytime 계정 설정</a></span>
        </div>
        <div class="mainmenu-item">
            <span><a href="/account-icampus">iCampus 계정 설정</a></span>
        </div>
        <div class="mainmenu-item undeveloped">
            <span><a href="javascript:;">新 iCampus (Mirror)</a></span>
        </div>
        <div class="mainmenu-item undeveloped">
            <span><a href="javascript:;">Subjects</a></span>
        </div>
        <div class="mainmenu-item undeveloped">
            <span><a href="javascript:;">실험실</a></span>
        </div>
    </div>
    <div id="develop_info_wrapper">
        <span>SKKU Absence Manager 0.5v</span>
        <span>Developed by Shyunku, All rights reserved.</span>
    </div>
</div>