<div id="left_side_menu" class="active">
    <div id="current_date">-년 -월 -일</div>
    <div id="current_time_wrapper">
        <span id="current_time">12:45</span>
        <div class="time_info_segment">
            <span id="current_time_split">AM</span>
            <span id="current_sec">42</span>
        </div>
    </div>
</div>